<div>
  <h1>Resumo rápido <i class="bi bi-cash"></i></h1>
</div>

<h2>Receita</h2>
<section class="flex">
  <div class="box1">
    <p>Quantidade de receitas:</p>
    <p class="res">{{ quantidadeRe() }}</p>
  </div>

  <div class="box1">
    <p>Maior receita:</p>
    <p class="res">R$ {{ getMax2() }}</p>
  </div>

  <div class="box1">
    <p>Menor receita:</p>
    <p class="res">R$ {{ getMin2() }}</p>
  </div>
  <div class="box1">
    <p>Total</p>
    <p class="res">{{ getSumRe() }}</p>
  </div>
</section>

<h2>Despesas</h2>

<section class="flex">
  <div class="box1">
    <p>Quantidade de despesas:</p>
    <p class="res">{{ quantidadeDe() }}</p>
  </div>
  <div class="box1">
    <p>Maior despesa:</p>
    <p class="res">R$ {{ getMax() }}</p>
  </div>

  <div class="box1">
    <p>Menor despesa:</p>
    <p class="res">R$ {{ getMin() }}</p>
  </div>
  <div class="box1">
    <p>Total</p>
    <p class="res">{{ getSumDe() }}</p>
  </div>
</section>
