<h1>Juros Simples</h1>

<p>Capital Inicial:</p>
<input class="form-control" type="number" [(ngModel)]="c" />

<p>Taxa mensal:</p>
<input class="form-control" type="number" [(ngModel)]="i" />

<p>Período de Tempo em meses</p>
<input class="form-control" type="number" [(ngModel)]="t" />

<div class="result"><b>Resultados:</b></div>

<table *ngFor="let item of getJurosSimp(); index as x">
  <tr>
    <td class="boxM">Mês {{ x + 1 }}:</td>
    <td class="boxV">Valor R$ {{ item }}</td>
  </tr>
</table>

<div style="float: left; margin-right: 400px; height:20vh; width:30vw">
<canvas #myCanvas> </canvas>
</div>
