<h1>Juros Simples</h1>

<p>Capital Inicial:</p>
<input class="form-control" type="number" [(ngModel)]="c" />

<p>Taxa mensal:</p>
<input class="form-control" type="number" [(ngModel)]="i" />

<p>Período de Tempo em meses</p>
<input class="form-control" type="number" [(ngModel)]="t" />

<div class="result"><b>Resultados:</b></div>

<table class="table table-bordered">
  <tr>
    <th>Mês</th>
    <th>Valor</th>
  </tr>
  <tbody>
    <tr *ngFor="let item of getJurosSimp(); index as x">
      <td>{{ x + 1 }}</td>
      <td>R$ {{ item }}</td>
    </tr>
  </tbody>
</table>
