.boxM {
  background-color: rgb(253, 251, 251);
  padding: 8px;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: grey -3px 3px 5px;
  margin-right: 10px;
}

.res-box {
  background-color: aliceblue;
  width: 200px;
  height: 100px;
  font-size: 01rem;
  border-radius: 15px;
  margin: 0 auto;
}

.label-res {
  text-align: center;
  font-weight: bold;
}
.res {
  text-align: center;
  margin-top: 20%;
  font-weight: bold;
}

.boxV {
  background-color: rgb(37, 186, 197);
  padding: 8px;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: grey -3px 3px 5px;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

p {
  text-align: center;
  font-size: 20px;
}

.result {
  text-align: center;
  font-size: 30px;
}

input {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  border-width: 2px;
}

table {
  margin: 0 auto;
}
