<h1>Juros Compostos</h1>

<p>Capital Inicial:</p>
<input class="form-control" type="number" [(ngModel)]="c" />

<p>Tempo(Meses):</p>
<input class="form-control" type="number" [(ngModel)]="t" />

<p>Período de Tempo em meses:</p>
<input class="form-control" type="number" [(ngModel)]="t" />
<p class="result"><b>Resultados:</b></p>
<table class="table table-bordered">
  <tr>
    <th>Mês</th>
    <th>Valor</th>
  </tr>
  <tbody>
    <tr *ngFor="let item of getJurosComp(); index as x">
      <td>{{ x + 1 }}</td>
      <td>R$ {{ item }}</td>
    </tr>
  </tbody>
</table>
