<section class="flex">
  <div class="box1">
    <a [routerLink]="['/']"><p>Calcular rendimento de poupança</p></a>
  </div>
  <div class="box1">
    <a [routerLink]="['/']"><p>Calcular rendimento de investimento</p></a>
  </div>
  <div class="box1">
    <a [routerLink]="['/juroscom']"><p>Calcular juros compostos</p></a>
  </div>
  <div class="box1">
    <a [routerLink]="['/jurossim']">
      <p>Calcular juros simples</p>
    </a>
  </div>
  <div>
    <p></p>
  </div>
  <div>
    <p></p>
  </div>
</section>
