<section class="flex">
  <div class="box1">
    <a [routerLink]="['/']"
      ><p>Calcular rendimento de poupança <i class="bi bi-calculator"></i></p
    ></a>
  </div>
  <div class="box1">
    <a [routerLink]="['/']"
      ><p>
        Calcular rendimento de investimento <i class="bi bi-calculator"></i></p
    ></a>
  </div>
  <div class="box1">
    <a [routerLink]="['/juroscom']"
      ><p>Calcular juros compostos <i class="bi bi-calculator"></i></p
    ></a>
  </div>
  <div class="box1">
    <a [routerLink]="['/jurossim']">
      <p>Calcular juros simples <i class="bi bi-calculator"></i></p>
    </a>
  </div>
  <div>
    <p></p>
  </div>
  <div>
    <p></p>
  </div>
</section>
