<!--<div style="float: right; height:20vh; width:30vw; display: inline">
  <canvas #myCanvas2> </canvas>
</div>
<div style="float: left; margin-right: 400px; height:20vh; width:30vw">
  <canvas #myCanvas> </canvas>
</div>-->

<h1 class="text-center">Bem-vindo</h1>

<h2 class="text-center">O que fazer ?</h2>

<section class="flex">
  <div>
    <a class="nav-link" [routerLink]="['/mostrar']">
      <div class="p-2">
        <div class="card text-bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">
            <b>Tenho gastos</b> | <i class="bi bi-coin"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">Registre seus gastos</h5>
            <p class="card-text">
              Começe a registrar seus gastos, com compras, contas e outros.
            </p>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div>
    <a class="nav-link" [routerLink]="['/mostrarreceita']">
      <div class="p-2">
        <div class="card text-bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">
            <b>Tenho ganhos</b> | <i class="bi bi-coin"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">Registre seus ganhos</h5>
            <p class="card-text">
              Começe a registrar suas receitas, sálario, investimentos,
              presentes e outros.
            </p>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div>
    <a class="nav-link" [routerLink]="['/calcpg']">
      <div class="p-2">
        <div class="card text-bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header"><b>Consultas</b></div>
          <div class="card-body">
            <h5 class="card-title">Use as calculadoras</h5>
            <p class="card-text">
              Use as calculadoras de juros simples e compsotos, saiba quanto seu
              investimento rende.
            </p>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div>
    <a class="nav-link" [routerLink]="['/cotacao']">
      <div class="p-2">
        <div class="card text-bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header"><b>Informe-se</b></div>
          <div class="card-body">
            <h5 class="card-title">Cotação das moedas</h5>
            <p class="card-text">
              Acopanhe as cotações do Euro, Dólar e Crypto moeda
            </p>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div>
    <a class="nav-link" [routerLink]="['/relatorio']">
      <div class="p-2">
        <div class="card text-bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header"><b>Verificar e analisar</b></div>
          <div class="card-body">
            <h5 class="card-title">Resumo dos gastos</h5>
            <p class="card-text">
              veja um resumo das despesas e receitas registradas.
            </p>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div></div>
</section>
