<!--<div style="float: right; height:20vh; width:30vw; display: inline">
  <canvas #myCanvas2> </canvas>
</div>
<div style="float: left; margin-right: 400px; height:20vh; width:30vw">
  <canvas #myCanvas> </canvas>
</div>-->

<h1 class="text-center">Bem-vindo</h1>

<h2 class="text-center">O que fazer ?</h2>

<div class="d-flex flex-row mb-3">
  <div class="p-2">
    <div class="card text-bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header">
        <b>Tenho gastos</b> | <i class="bi bi-coin"></i>
      </div>
      <div class="card-body">
        <h5 class="card-title">Registre seus gastos</h5>
        <p class="card-text">
          Começe a registrar seus gastos, com compras, contas e outros
        </p>
      </div>
    </div>
  </div>
  <div class="p-2">
    <div class="card text-bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header">
        <b>Tenho ganhos</b> | <i class="bi bi-coin"></i>
      </div>
      <div class="card-body">
        <h5 class="card-title">Registre seus ganhos</h5>
        <p class="card-text">
          Começe a registrar suas receitas, sálario, investimentos, presentes e
          outros
        </p>
      </div>
    </div>
  </div>
  <div class="p-2">
    <div class="card text-bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Light card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
</div>
